<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.video.offline.videoplayer.permission.READ_EXTENSION_DATA"
        android:protectionLevel="normal" />

    <permission
        android:name="com.video.offline.videoplayer.permission.BIND_DATA_CONSUMER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.video.offline.videoplayer.permission.READ_EXTENSION_DATA" />
    <uses-permission android:name="com.video.offline.videoplayer.permission.BIND_DATA_CONSUMER" />

    <application/>

</manifest>
